* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h5 {
    font-family: 'Poppins', sans-serif;
}


.container {
    padding: 0 100px;
}


/* Header Section */
/* nav bar for extra feture */
.nav {
    background-color: #6047EC;
    padding: 15px 0;
}

.nav .container{
    display: flex;
}

.logo {
    width: 50%;
}

.logo h2 {
    padding: 5px 0;
}

.logo a {
    color: #fff;
    font-family: 'Lobster', cursive;
    text-decoration: none;
}

.menu {
    width: 50%;
}

.menu ul {
    list-style-type: none;
    display: flex;
    float: right;
}

.menu ul li {
    padding: 15px 20px;
}

.menu ul li a {
    text-decoration: none;
    text-align: right;
    color: #fff;
}


.hero {
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.hero .container {
    display: flex;
}

.hero-left {
    width: 50%;
    margin-top: 50px;
}

h1 {
    font-size: 50px;
    margin: 20px 0;
    line-height: 65px;
}

.hero-left p {
    margin: 2px 0;
    line-height: 30px;
}

span {
    color: fuchsia;
}

.link-button {
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right,#7b4397, #dc2430);
    padding: 10px 30px;
    margin-top: 20px;
    display: inline-block;
    border-radius: 20px;
}

.hero-right {
    width: 50%;
}

.hero-right img {
    width: 70%;
    float: right;
}



/* About Section */
.about-bg {
    background-image: url(images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

#about .container {
    display: flex;
}

.about-left {
    width: 50%;
}

.about-right {
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
}

.about-right h2 {
    font-size: 40px;
}

.about-right p {
    margin: 20px 0;
    line-height: 30px;
}


/* Recipi Section */
.recipi-bg {
    background: #fff;
    padding: 80px 0;
}

#recipi h2 {
    text-align: center;
    font-size: 40px;
}

#recipi p {
    text-align: center;
    line-height: 30px;
    margin-bottom: 50px;
}

#recipi .container {
    display: flex;
}

#recipi .container div {
    padding: 20px 30px;
    box-shadow: 2px 2px 15px rgba(128, 128, 128, 0.534);
}

#recipi .container div h3 {
    font-size: 26px;
    margin: 20px 0;
}

#recipi .container div p {
    text-align: left;
}

#recipi img {
    width: 100%;
}

.recipi-one {
    margin-right: 10px;
}

.recipi-two {
    margin: 0 10px;
}

.recipi-three {
    margin-left: 10px;
}


/* Subscribe Section */
#subscribe {
    padding: 50px 0;
}

.subscribe-items {
    display: flex;
    box-shadow: 5px 5px 15px gray;
    padding: 50px 0;
}



.subscribe-items div {
    width: 33.33%;
    text-align: center;
}

#subscribe .container div h3 {
    font-size: 38px;
}


/* Newslater Section */
.newslater-bg {
    background-image: linear-gradient(to left, #A8EB12, #051937)
}

.newslater-items {
    display: flex;
    padding: 50px 20px;
}

.list {
    width: 50%;
    color: #fff;
    padding-top: 40px;
    text-align: right;
    margin-right: 80px;
}

.list h2 {
    font-size: 32px;
}

.list ul {
    list-style-type: none;
}

.list ul li {
    font-size: 20px;
    line-height: 30px;
}


.input {
    width: 50%;
}

.input input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

.input .input-item{
    width: 90%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    padding: 20px;
}

.input a {
    margin-left: 100px;
}
